In [1]:
import pandas as pd

In [2]:
import pandas_datareader as pdr

In [28]:
from WindPy import w

In [42]:
import time

In [13]:
AH_list = pd.read_excel("AH股.xlsx",sheet_name='AH股标的筛选后',usecols=['H_code','H_name','A_code','A_name'])

In [16]:
AH_list.dropna(inplace=True)
AH_list

     H_code    H_name     A_code A_name
0   0038.HK   第一拖拉机股份  601038.SH   一拖股份
1   0107.HK  四川成渝高速公路  601107.SH   四川成渝
2   0168.HK    青岛啤酒股份  600600.SH   青岛啤酒
3   0177.HK  江苏宁沪高速公路  600377.SH   宁沪高速
4   0323.HK   马鞍山钢铁股份  600808.SH   马钢股份
..      ...       ...        ...    ...
77  6178.HK      光大证券  601788.SH   光大证券
78  6818.HK    中国光大银行  601818.SH   光大银行
79  6837.HK      海通证券  600837.SH   海通证券
80  6881.HK      中国银河  601881.SH   中国银河
81  6886.HK      HTSC  601688.SH   华泰证券

[82 rows x 4 columns]

In [29]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [46]:
for index,row in AH_list.iterrows():
    Hcode = row['H_code']
    Acode = row['A_code']
    A_name = row['A_name']
    WindData = w.wsd([Hcode,Acode], "open", "2018-01-01", "2020-04-16", "PriceAdj=F",usedf=True)
    ##请求成功
    if WindData[0] is 0:
        data_df = WindData[1]
        data_df.dropna(inplace = True)
        data_df.to_excel('./data/'+A_name+'.xlsx')
    else:
        print("获取数据出错，当前获取到"+A_name)

In [27]:
pdr.get_data_yahoo('0177.HK')

             High    Low   Open  Close     Volume  Adj Close
Date
2015-04-20  10.78  10.34  10.66  10.46  3224235.0   7.781352
2015-04-21  10.54  10.24  10.52  10.40  6027871.0   7.736718
2015-04-22  10.62  10.30  10.32  10.54  3463401.0   7.840866
2015-04-23  10.90  10.68  10.80  10.70  4186001.0   7.959892
2015-04-24  10.78  10.34  10.36  10.72  4148658.0   7.974770
...           ...    ...    ...    ...        ...        ...
2020-04-08   8.33   8.10   8.10   8.28  3064834.0   8.280000
2020-04-09   8.58   8.30   8.31   8.50  4420000.0   8.500000
2020-04-14   8.79   8.46   8.50   8.65  5693897.0   8.650000
2020-04-15   8.75   8.36   8.71   8.43  5205886.0   8.430000
2020-04-16   8.53   8.32   8.35   8.42  3303910.0   8.420000

[1234 rows x 6 columns]

In [37]:
WindData = w.wsd('0038.HK', "open", "2020-04-15", "2020-04-16", "PriceAdj=F",usedf=True)

In [43]:
(WindData[1]).to_excel("./data/"+"666.xlsx")

In [36]:
WindData.Data

[[1.44, 1.4]]